@import '../../stylesheets/base';

.app {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $white;
    font-size: 15vw;
  }

  #logo {
    color: $vivid-red;
    line-height: normal;
    vertical-align: center;
  }
}