.cards {
  padding-left: 12.5rem;
  padding-right: 0.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,0.75);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10rem;
  padding-left: 15rem;
  background-color: rgba(0,0,0,0.75);
  outline: none;
  border-radius: .25rem;
}

.iframe-modal {
  padding-right: 20rem;
  /* position: relative; */
  /* height: 40rem; */
  /* width: 60rem; */
}

.fa-times {
  cursor: pointer;
  font-size: 2rem;
}

.fa-times:hover {
  color: red;
}
