.card {
  flex: 0 1 15%;
  /* margin: 1em .25em; */
  margin-bottom: 3em;
  background-color: #fcfcfc;
  position: relative;
}

.video-still {
  border-radius: 0;
  height: 20em;
  width: 30em;
}

.card-title {
  color: black;
  text-decoration: underline;
  text-align: center;
  font-size: 1.25em;
}

.card-text {
  color: black;
  min-height: 1vmax;
  overflow: scroll;
  padding-bottom: 3em;
}

.fa-play {
  font-size: 2.5em;
  padding-left: .25em;
  padding-bottom: .25em;
  padding-right: 1.25em;
  float: left;
  cursor: pointer;
  color: indianred;
}

.fa-heart-o {
  font-size: 2.5em;
  float: right;
  padding-bottom: .26em;
  padding-right: .13em;
  cursor: pointer;
  bottom: 0;

}

.fa-heart {
  font-size: 2.5em;
  float: right;
  padding-bottom: .26em;
  padding-right: .13em;
  cursor: pointer;
  color: red;
}

.creatable-box {
  width: 15em;
  display: inline-block;
  margin-left: 1em;
  margin-right: 6em;
}

.fa-times-circle {
  font-size: 2.5em;
  float: right;
  padding-bottom: .26em;
  padding-right: .13em;
  cursor: pointer;
  color: red;
}

.card-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
}
