nav {
  height: 100%;
  width: 10rem;
  position: fixed;
  float: left;
  z-index: 1;
  top: 0;
  left: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    text-align: left;
    padding: 0rem;
    width: 40%%;
    background-color: #0E0E0E;
    height: 100%;
    /* position: fixed; */
    /* overflow: auto */
}

li a {
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

.submenu a {
  background-color: #E1DFDF;
  color: #000;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  margin-top: .25rem;
  padding: .75rem;
}
