nav {
  height: 100%;
  width: 10rem;
  position: fixed;
  float: left;
  z-index: 1;
  top: 0;
  left: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    text-align: left;
    padding: 0rem;
    width: 40%%;
    background-color: #0E0E0E;
    height: 100%;
    /* position: fixed; */
    /* overflow: auto */
}

li a {
    display: block;
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.mainmenu li:hover .submenu {
  display: block;
  max-height: 20em;
}

.submenu a {
  background-color: #E1DFDF;
  color: #000;
}

/* hover behaviour for links inside .submenu */
.submenu a:hover {
  background-color: #666;
}

.submenu {
  overflow: scroll;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin: 0rem;
  margin-top: .25rem;
  margin-right: 0;
  padding: .75rem;
}

.img-logout {
  display: flex;
}


.mainmenu li:hover .req-submenu {
  display: block;
  max-height: 20em;
}

.req-submenu a {
  background-color: #E1DFDF;
  color: #000;
}

/* [> hover behaviour for links inside .submenu <] */
.req-submenu a:hover {
  background-color: #666;
}

.req-submenu {
  overflow: scroll;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.incoming-user-req {
  display: flex;
  /* margin: auto; */
  position: relative;
}

.user-img-dropdown {
  height: 3em;
  width: 3em;
}

.user-name-dropdown {
  font-size: 1rem;
  display: inline-block;
}

.fa-thumbs-up {
  position: absolute;
  top: 0;
  right: 0;
  color: green;
  font-size: 1.5em;
}

.fa-thumbs-down {
  position: absolute;
  bottom: 0;
  right: 0;
  color: red;
  font-size: 1.5em;
}

.fa-thumbs-up:hover {
  cursor: pointer;
  color: lightgreen;
}

.fa-thumbs-down:hover {
  cursor: pointer;
  color: #ff8080;
}
